/* body{
    font-family:cursive
}

#section1{
    background: red;
}
.section-title {
    color: aqua;
    font-family: inherit;
} */



body{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: black;
}