/* *{
    box-sizing: border-box;
}
body{
    font-family:cursive;
    margin: 0;
}

#section1{
    background: rgba(255, 25, 0, 0.758);
    width: 100%;
    height: 528px;
    padding: 10px;
}
.section-title {
    color: aqua;
    font-family: inherit;
}

#section1 h1{
    color:white;
    font-family: 'Anton', sans-serif;
}

 */
