body{
    font-family: 'Courier New', Courier, monospace;
}

#sec1{
    background-color: chocolate;
}

.sec_header{
    color:blue;
}

#sec2 h1{
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: sans-serif;
}
